*		text=auto
.gitattributes	text
.gitignore	text
LICENSE		text
*.bat		text
*.idx		text
*.md		text
*.qip		text
*.qpf		text
*.qsf		text
*.rev		text
*.sample	text
*.sdc		text
*.srf		text
*.sv		text
*.tcl		text
*.v		text
*.vhd		text
